<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='/jquery.js'></script>
	<script src="http://192.168.1.107:8000/socket.io/socket.io.js"></script>
	<style>
		.box{
			width: 300px;
			height: 400px;
			margin: 200px auto;
			border: 1px solid #666;
			position: relative;
		}
		.list{
			width: 300px;
			height: 360px;
			overflow-y: scroll;
		}
		.message{
			height: 40px;
			display: flex;
			border-top: 1px solid #666;
			box-sizing:border-box;
		}
		.message input{
			height: 100%;
			border: none;
			padding: 0;
			outline: none;
			margin: 0;
			box-sizing:border-box;
		}
		.message input[type='text']{
			flex: 1;
			padding: 0 10px;
			border-right: 1px solid #666;
		}
		.message input[type='button']{
			width: 80px;
		}
	</style>
</head>
<body>
	<div class="box">
		<div class="list">
			<div id="list"></div>
			<div id="list-footer"></div>
		</div>
		<div class="message">
			<input type="text" id="msg">
			<input type="button" id="send" value="发送">
		</div>
	</div>

	<script>
		$(function () {
			// 和服务器建立连接
			var socket = io.connect('http://192.168.1.107:8000')
			socket.on('resMessage', function (data) {
				var res = data.result;
				var str = ''
				if(res){
					str = '<ul>'
					res.map(item=>{
						str+='<li>'+ item.title +'</li>'
					})
					str+='</ul>';
				}else{
					str='<p>搜索的数据不存在，请联系人工客服</p>'
				}
			})
			$('#list').append(str);
			$('#list-footer').get(0).scrollIntoView();  // 让滚动条始终处于最底部

			var username=`zhangsan${Math.floor(Math.random()*100)}`;
			$('#send').click(function () {
				var msg = $('#msg').val()
				// 把获取的值发给服务器
				socket.emit('reqMessage', {
					username: username,
					msg: msg
				})

				$('#list').append(`<p><strong>${username}<strong>  :  ${msg}</p>`)
				$('#msg').val('');

			})




			// 监听服务器发送过来的数据
			socket.on('resMessage', function (data) {
				console.log(data)
			})

		})
	</script>
</body>
</html>